:root{
    --color-background:#f8f8f8;
    --color-secondary-background:#ffffff;
    --color-primary-text: #ffffff;
    --background-color-btn: #5558db;
    --background-color-price-btn: #0b162b;
    --color-logo:#5558db;
}