:root {
    --color-background:#f8f8f8;
    --color-secondary-background:#ffffff;
    --color-primary-text: #ffffff;
    --color-footer-divider: #0b162b;
    --color-btn-background: #5558db;
    --color-secondary-background:#0b162b;
    --color-logo:#5558db;
}