body {
    font-family: Montserrat;
}

.container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1410px;
}

.btn {
    background-color: var(--color-btn-background);
    color: var(--color-primary-text);
    border: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 13px;
}

.divider {
    height: 150px;
}

.badge {
    line-height: 36px;
    font-size: 16px;
    padding: 0 15px;
    background-color: var(--color-secondary-background);
    color: var(--color-primary-text);
}

a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: var(--color-primary-text);
}

h1 {
    font-size: 64px;
    line-height: 72px;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h3 {
    font-size: 36px;
    line-height: 48px;
}

@media only screen and (min-width: 1470px)  {
    .container {
        max-width: 1410px;
    }
}

@media only screen and (max-width: calc(1470px - 1px)) and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (max-width: calc(1200px - 1px)) and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    h2 {
        font-size: 38px;
        line-height: 40px;
    }
}

@media only screen  and (max-width: calc(768px - 1px)) and (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    h1 {
        font-size: 56px;
        line-height: 62px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .divider {
        height: 100px;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 540px;
        padding-left: 16px;
        padding-right: 16px;
    }

    h1 {
        font-size: 36px;
        line-height: 38px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .divider {
        height: 75px;
    }
}
