body{
    font-family: Montserrat;
}

.container{
    padding-right: 25px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1168px;
}

.btn{
    background-color: var(--background-color-btn);
    color: var(--color-primary-text);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 20px;
}

.divider{
    height: 150px;
}

a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: var(--color-primary-text);
}

