body{
    font-family: Montserrat;
}

.container{
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1410px;
}

.btn{
    background-color: var(--background-color-btn);
    color: var(--color-primary-text);
    border: none;
    border-radius: 3px;
}

.divider{
    height: 150px;
}

a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: var(--color-primary-text);
}

