body {
    font-family: Montserrat;
}

.container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1410px;
}

.btn {
    background-color: var(--color-btn-background);
    color: var(--color-primary-text);
    border: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 13px;
}

.divider {
    height: 150px;
}

.price .badge {
    padding: 8px 14px;
    background-color: var(--color-secondary-background);
    color: var(--color-primary-text);
}

a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: var(--color-primary-text);
}

h1 {
    font-size: 64px;
    line-height: 72px;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h3 {
    font-size: 36px;
    line-height: 48px;
}

@media only screen and (min-width: 1470px)  {
    .container {
        max-width: 1410px;
    }
}

@media only screen and (max-width: 1469px) and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px)   {
    .container {
        max-width: 720px;
    }
}

@media only screen  and (max-width: 767px) and (min-width: 576px)  {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 540px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
