@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}