@media screen and (max-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
        background-color: yellow;
    }
}

@media screen and (max-width: 768) {
    .container {
        max-width: 720px;
        background-color: white;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}
