.header-section {
    color: var(--color-secondary-background);
    padding-top: 39px;
}

.header-section .cap .logo {
    font-size: 28px;
    color: var(--color-secondary-background);
    font-weight: bold;
}

.header-section .cap .logo span {
    color: var(--color-logo);
}

.header-section .cap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .cap .btn {
    padding: 13px 40px;
    line-height: 22px;
    font-size: 18px;
}

.header-section .content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.header-section .content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-section .content .title {
    width: 690px;
    margin:0;
}

.header-section .content .text {
    font-size: 22px;
    width: 570px;
    font-family: PTSerif;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-section .content .store {
    display: flex;
}

.header-section .content .store img:first-child {
    margin-right: 20px;
}

.header-section .content button {
    line-height: 20px;
    padding: 19px 51px 19px 51px;
    font-size: 18px;
}

.header-section .divider{
    height: 161px;
}

@media only screen and (max-width: calc(1200px - 1px)) and (min-width: 992px)   {
    .header-section .content .iphone-xs {
        height: 500px;
    }
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px)   {
    .header-section .content .iphone-xs {
        display: none;
    }

    .header-section .content {
        text-align: center;
    }

    .header-section .content .wrapper {
        align-items: center;
    }

    .header-section .divider {
        height: 125px;
    }
}

@media only screen  and (max-width: calc(768px - 1px)) and (min-width: 576px)  {
    .header-section .content .iphone-xs {
        display: none;
    }

    .header-section .cap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-section .content {
        text-align: center;
    }

    .header-section .content .wrapper {
        align-items: center;
    }

    .header-section .cap .btn {
        width: 100%;
        margin-top: 25px;
    }

    .header-section .content .store {
        flex-wrap: wrap;
    }

    .header-section .content .title {
        width: 100%;
    }

    .header-section .content .text {
        width: 100%;
        line-height: 32px;
    }

    .header-section .divider {
        height: 100px;
    }
}

@media only screen and (max-width: calc(576px - 1px)) {
    .header-section .content .iphone-xs {
        display: none;
    }

    .header-section .cap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-section .cap .btn {
        width: 100%;
        margin-top: 25px;
    }

    .header-section .content {
        text-align: center;
        margin-top: 75px;
    }

    .header-section .content .wrapper {
        align-items: center;
    }

    .header-section .content .store {
        flex-wrap: wrap;
    }

    .header-section .content .store img {
        width: 130px;
    }

    .header-section .content .title {
        width: 100%;
    }

    .header-section .content .text {
        width: 100%;
        line-height: 28px;
    }

    .header-section .divider {
        height: 75px;
    }
}
