.review-section .content {
    background: url(../img/video-review.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 798px;
    position: relative;
}

.review-section .main-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    background-color: var(--color-secondary-background);
}

.review-section .secondary-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.review-section .play {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.review-section .title {
    color: var(--color-primary-text);
    margin: 0;
}

.review-section .text {
    color: var(--color-primary-text);
    width: 930px;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.5;
}

.review-section .hidden-description {
    display: none;
    background-color: var(--color-secondary-background);
    padding: 15px 31px;
    max-width: none;
}

.review-section .hidden-description .text {
    margin-bottom: 0;
}


@media only screen and (max-width: calc(1200px - 1px)) and (min-width: 992px) {
   .review-section .play img {
        width: 75px;
   }

   .review-section .secondary-overlay {
       margin-bottom: 75px;
   }
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px) {
   .review-section .play img {
        width: 60px;
   }

   .review-section .secondary-overlay {
        margin-bottom: 50px;
}

   .review-section .text {
       margin-top: 0;
       width: 100%;
   }
}

@media only screen  and (max-width: calc(768px - 1px)) and (min-width: 576px) {
   .review-section .play img {
        width: 60px;
   }

   .review-section .secondary-overlay {
        margin-bottom: 20px;
}

   .review-section .text {
       margin-top: 0;
       width: 100%;
       line-height: 25px;
   }
}

@media only screen and (max-width: 575px) {
   .review-section .play img {
        width: 50px;
   }

   .review-section .secondary-overlay {
        display: none;
    }

   .review-section .text {
       margin-top: 0;
       width: 100%;
       line-height: 22px;
   }

   .review-section .hidden-description {
    display: block;
   }
}
