.main-info-section {
    background-color: var(--color-background);
}

.main-info-section .container {
    display: flex;
}

.main-info-section .review-wrapper {
    flex-grow: 1;
}

.main-info-section .review {
    position: relative;
    padding-top: 65.21%;
    background-image: url(../img/video-review.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-left: 30px;
    flex: 1 1 0;
}

.main-info-section .review-wrapper .shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(11, 22, 43, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.main-info-section .play {
    position: absolute;
}

.main-info-section .content {
    flex: 1 1 0;
}

.main-info-section .wrapper {
    width: 570px;
}

.main-info-section .content .title {
    margin-bottom: 20px;
}

.main-info-section .content .text {
    opacity: 0.5;
    font-family: PTSerif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.main-info-section .content .btn {
    padding: 19px 111px;
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (max-width: calc(1200px - 1px)) and (min-width: 992px) {
    .main-info-section .container {
        flex-wrap: wrap;
    }

    .main-info-section .content {
        margin-right: 50px;
    }

    .main-info-section .content .title {
        margin-top: 0;
    }

    .main-info-section .wrapper {
        width: 100%;
        text-align: center;
    }

    .main-info-section .review {
        margin-top: 30px;
        margin-left: 0;
    }

    .main-info-section .play {
        width: 70px;
    }
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px) {
    .main-info-section .container {
        flex-wrap: wrap;
    }

    .main-info-section .wrapper {
        width: 100%;
        text-align: center;
    }

    .main-info-section .review {
        flex-basis: auto;
        margin-top: 60px;
        margin-left: 0;
    }

    .main-info-section .play {
        width: 70px;
    }

    .main-info-section .content {
        flex-basis: auto;
    }

    .main-info-section .content .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-info-section .content .text {
        line-height: 24px;
    }
}

@media only screen and (max-width: calc(768px - 1px)) and (min-width: 576px) {
    .main-info-section .container {
        flex-wrap: wrap;
    }

    .main-info-section .wrapper {
        width: 100%;
        text-align: center;
    }

    .main-info-section .review {
        flex-basis: auto;
        margin-top: 60px;
        margin-left: 0;
    }

    .main-info-section .play {
        width: 50px;
    }

    .main-info-section .wrapper {
        width: 100%;
    }

    .main-info-section .content {
        flex-basis: auto;
    }

    .main-info-section .content .btn {
        width: 100%;
    }

    .main-info-section .content .title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .main-info-section .content .text {
        line-height: 22px;
    }
}

@media only screen and (max-width: calc(576px - 1px)) {
    .main-info-section .container {
        flex-wrap: wrap;
    }

    .main-info-section .content {
        flex-basis: auto;
    }

    .main-info-section .wrapper {
        width: 100%;
        text-align: center;
    }

    .main-info-section .review {
        margin-top: 60px;
        margin-left: 0;
    }

    .main-info-section .play {
        width: 50px;
    }

    .main-info-section .content .btn {
        width: 100%;
        padding: 0;
        line-height: 50px;
    }

    .main-info-section .content .title {
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .main-info-section .content .text {
        line-height: 22px;
    }

}