.header-section {
    color: var(--color-primary-text);
    background: var(--color-secondary-background);
    padding-top: 39px;
}

.header-section .menu .logo {
    font-size: 28px;
    font-weight: bold;
}

.header-section .menu .logo span {
    color: var(--color-logo);
}

.header-section .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .menu .list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.header-section .menu svg {
    width: 30px;
    height: 30px;
    fill: white;
    display: none;
}

.header-section .menu .list li {
    margin-right: 38px;
}

.header-section .menu .text-link {
    font-size: 18px;
}

.header-section .menu button {
    padding: 13px 40px;
    line-height: 22px;
    font-size: 18px;
}

.header-section .content{
    margin-top: 228px;
}

.header-section .content .title {
    width: 690px;
    margin:0;
    line-height: 72px;
}

.header-section .content .text {
    font-size: 22px;
    width: 570px;
    font-family: PTSerif;
    line-height: 36px;
    margin-bottom: 30px;
}

.header-section .content .authorization {
    display: flex;
}

.header-section .content .email-input {
    border: none;
    width: 415px;
    border-radius: 2px;
    margin-right: 30px;
    padding: 20px 26px 19px 26px;
    font-size: 18px;
    font-weight: 100;
}

.header-section .content button {
    padding: 19px 51px;
    font-size: 18px;
}

.header-section .content .description {
    padding-top: 223px;
    padding-bottom: 40px;
}

.header-section .content .trial {
    font-size: 16px;
    margin-bottom: 0;
    opacity: 0.5;
    font-family: PTSerif;
    color: var(--color-primary-text);
}

.header-section .content .about-img {
    width: 16px;
    height: 20px;
}

.header-section .content .more-about {
    font-size: 18px;
    font-weight: bold;
    margin-left: 14px;
    vertical-align: top;
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px)   {
    .header-section .content {
        margin-top: 168px;
    }

    .header-section .content .description {
        padding-top: 168px;
    }
}

@media only screen  and (max-width: calc(768px - 1px)) and (min-width: 576px)  {
    .header-section .menu .list {
        display: none;
    }

    .header-section .menu svg {
        display: block;
    }

    .header-section .content{
        margin-top: 150px;
    }

    .header-section .content .authorization {
        flex-wrap: wrap;
    }

    .header-section .content .email-input {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .header-section .content .btn {
        width: 100%;
    }

    .header-section .content .content {
        margin-top: 126px;
    }

    .header-section .content .description {
        padding-top: 100px;
    }

    .header-section .content .title {
        font-size: 56px;
        line-height: 62px;
    }

    .header-section .content .text {
        line-height: 32px;
    }
}

@media only screen and (max-width: calc(576px - 1px)) {
    .header-section .menu .list {
        display: none;
    }

    .header-section .menu svg {
        display: block;
    }

    .header-section .content{
        margin-top: 100px;
    }

    .header-section .content .authorization {
        flex-wrap: wrap;
    }

    .header-section .content .email-input {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .header-section .content .btn {
        width: 100%;
    }

    .header-section .content .content {
        margin-top: 64px;
    }

    .header-section .content .description {
        padding-top: 68px;
    }

    .header-section .content .title {
        width: 100%;
        font-size: 36px;
        line-height: 38px;
    }

    .header-section .content .text {
        font-size: 21px;
        width: 100%;
        line-height: 28px;
    }
}
