.main-info-section {
    background-color: var(--color-background);
}

.main-info-section .container {
    display: flex;
}

.main-info-section .laptop {
    width: 100%;
    margin-right: 15px;
    flex: 1 1 0;
}

.main-info-section .laptop img {
    width: 100%;
}

.main-info-section .content {
    margin-left: 135px;
    flex: 1 1 0;
}

.main-info-section .content .title {
    margin-bottom: 20px;
}

.main-info-section .content .text {
    opacity: 0.5;
    font-family: PTSerif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.main-info-section .content .btn {
    padding: 0 112px;
    font-size: 18px;
    line-height: 60px;
}

@media only screen and (max-width: calc(1200px - 1px)) and (min-width: 992px) {
    /* .main-info-section img {
        width: 438px;
        height: 400px;
        margin-right: 80px;
    } */
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px) {
    .main-info-section .content {
        margin-left: 35px;
    }

    .main-info-section .content .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-info-section .content .text {
        line-height: 24px;
    }

    .main-info-section .content .btn {
        padding: 0px 85px;
    }
}

@media only screen and (max-width: calc(768px - 1px)) and (min-width: 576px) {
    .main-info-section .container {
        flex-wrap: wrap;
    }

    .main-info-section .laptop {
        margin: 0;
    }

    .main-info-section .content {
        flex-basis: auto;
        margin: 0;
    } 


    .main-info-section .content .btn {
        width: 100%;
    }

    .main-info-section .content .title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .main-info-section .content .text {
        line-height: 22px;
        font-size: 16px;
    }
}

@media only screen and (max-width: calc(576px - 1px)) {
    .main-info-section .container {
        flex-wrap: wrap;
    }

    .main-info-section .content {
        flex-basis: auto;
        margin: 0;
    } 

    .main-info-section .content .btn {
        width: 100%;
        font-size: 16px;
        padding: 0;
        line-height: 50px;
    }

    .main-info-section .content .title {
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .main-info-section .content .text {
        line-height: 22px;
        font-size: 16px;
    }
}