.news-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.news-section img {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px)   {
   body .divider{
       height: 100px;
   }
}

@media only screen  and (max-width: calc(768px - 1px)) and (min-width: 576px)  {
    body .divider{
        height: 100px;
    }
}

@media only screen and (max-width: 575px) {
    body .divider{
        height: 60px;
    }
}
