.price-section {
    background-color: var(--color-background);
    text-align: center;
}

.price-section .container {
    display: flex;
    justify-content: center;
}

.price-section .title {
    margin: 0 30px;
}

.price-section .text {
    opacity: 0.5;
    font-family: PTSerif;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.price-section .text-footer {
    margin-top:50px;
    margin-bottom: 0;
}

.price-section .free,
.price-section .premium { 
    background-color: var(--color-secondary-background);
    padding: 50px 50px 47px 50px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
} 

.price-section .free {
    margin-right: 30px;
}

.price-section .discount {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price-section .old-price {
    margin: 0;
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.price-section .badge {
    font-weight: 900;
    display: flex;
    align-self: center;
    align-items: center;
    margin-left: 14px;
    opacity: 0.25;
    border-radius: 3px;
}

.price-section .premium .badge {
    background-color: var(--color-btn-background);
}

.price-section .free  .title,
.price-section .premium  .title {
    font-size: 36px;
    line-height: 48px;
    color: #0b162b;
    margin-top: 19px ;
    margin-bottom: 0;
}

.price-section .current-price {
    font-weight: 900;
    font-size: 72px;
    line-height: 90px;
    margin-top: 3px;
    margin-bottom: 0;
}

.price-section .period {
    margin: 10px 0  21px 0;
    opacity: 0.5;
    font-family: PTSerif;
    line-height: 30px;
    font-size: 18px;
}

.price-section .btn {
    margin-bottom: 30px;
    padding: 19px 120px 19px 122px;
    line-height: 22px;
    font-size: 18px;
}

.price-section .free .btn.inverse {
    background-color: #0b162b;
}

.price-section img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 11px;
}

.price-section .more{
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.price-section .more:last-child{
    margin-bottom: 0;
}

.price-section .description {
    opacity: 0.5;
    font-family: PTSerif;
    font-size: 18px;
    
    text-align: left;
}

.price-section img {
    opacity: 100;
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px) {
    .price-section .free,
    .price-section .premium { 
        padding: 20px;
    }

    .price-section .free{
        margin-right: 20px;
    }

    .price-section .btn {
        padding: 21px 90px;
    }
}

@media only screen and (max-width: calc(768px - 1px)) and (min-width: 576px) {
    .price-section .container{
        flex-wrap: wrap;
    }

    .price-section .free{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .price-section .divider{
        height: 70px;
    }
}

@media only screen and (max-width: calc(576px - 1px)) {
    .price-section .container{
        flex-wrap: wrap;
    }

    .price-section .free{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .price-section .title {
        font-size: 40px;
        line-height: 45px;
    }

    .price-section .text {
        font-size: 17px;
    }

    .price-section .divider{
        height: 70px;
    }

    .price-section .btn{
        width: 100%;
        padding: 0;
    }
}
