.header{
    color: white;
    background:#0b162b url('../homepage-1/img/background.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 40% 100%;
}

.header .header-logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.header .header-logo span{
    color: #5558db;
    font-weight: 900;
}

.header .header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-menu-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 18px 0;
    padding: 0;
}

.header .header-menu-list li{
    margin-right: 37px;
}

.header .header-text-link{
    text-decoration: none;
    font-weight: 400;
}

.header .header-menu button{
    font-weight: 900;
    font-size: 10px;
}

.header .content-title {
    font-size: 64px;
    margin-top: 240px;
    margin-bottom: 20px;
}

.header .content-text{
    font-family: PTSerif;
    font-size: 24px;
}

.header .authorization-block{
    display: flex;
    flex-direction: row;
}

.header input{
    width: 370px;
    border: none;
    border-radius: 2px;
    padding: 10px 25px 10px 25px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #0b162b;
}

.header .content button{
    padding: 10px 64px;
}

.header .trial{
    margin-top: 20px;
    opacity: 0.5;
    font-family: PTSerif;
    color: #ffffff;
    margin-bottom: 223px;
}

.header .info-img{
    width: 16px;
    height: 20px;
    margin-bottom: 40px;
}

.header .urano-info{
    font-size: 18px;
    font-weight: 900;
    margin-left: 14px;
    vertical-align: top;
}

.news-block img{
    margin:65px 80px 65px 0;
}

.news-block img:last-child{
    margin-right: 0;
}

.support-block{
    display: flex;
}

.support-block div{
    text-align: center;
    font-size: small;
    margin-right: 30px;
}

.support-block div:last-child{
    margin-right: 0;
}

.support-block .bolt-img{
    width: 28px;
    height: 48px;
}

.support-block .approval-img{
    width: 50px;
    height: 48px;
}

.support-block .support-img{
    width: 46px;
    height: 48px;
}

.support-block .support-title{
    font-size: 36px;
    margin: 30px 0 20px 0;
}

.support-block .support-text{
    font-family: PTSerif;
    font-size: 15px;
    line-height: 1.67;
    opacity: 0.5;
    color: #0b162b;
}
