.support-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.support-section .card {
    text-align: center;
}

.support-section .title {
    margin: 30px 0 20px 0;
}

.support-section .text {
    font-family: PTSerif;
    font-size: 16px;
    line-height: 1.67;
    opacity: 0.5;
}

@media only screen and (max-width: calc(1200px - 1px)) and (min-width: 992px) {
    .support-section .card:last-child {
        margin-top: 50px;
    }
}

@media only screen and (max-width: calc(992px - 1px)) and (min-width: 768px) {
    .support-section .card:last-child {
        margin-top: 50px;
    }

    .support-section .text {
        font-size: 14px;
    }
}

@media only screen and (max-width: calc(768px - 1px)) and (min-width: 576px) {
    .support-section .card:nth-child(2) {
        margin-top: 40px;
    }

    .support-section .card:last-child {
        margin-top: 40px;
    }

    .support-section .title {
        margin: 15px 0 10px 0;
    }
}

@media only screen and (max-width: calc(576px - 1px)) {
    .support-section .card:nth-child(2) {
        margin-top: 30px;
    }

    .support-section .card:last-child {
        margin-top: 30px;
    }

    .support-section .title {
        margin: 15px 0 10px 0;
    }
}